/* Sidebar base styles */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  transition: transform 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  transform: translateX(-100%); /* Hidden by default */
}

/* Show sidebar when 'show' class is added */
.sidebar.show {
  transform: translateX(0);
}

/* Toggle Button Styles */
.sidebar-toggle {
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
}

.sidebar-toggle i {
  font-size: 26px;
  color: #000;
}

/* Overlay when sidebar is open */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

/* Sidebar always visible on medium+ screens */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    position: relative;
    height: 180vh;
    z-index: 1;
  }

  .sidebar-toggle {
    display: none;
  }

  .sidebar-overlay {
    display: none;
  }
}

/* Menu Item Styling */
.menu-item {
  color: #7b8493;
  padding: 20px 15px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: color 0.3s ease;
}

.menu-item i {
  font-size: 24px;
  margin-bottom: 5px;
}

.menu-item:hover {
  color: #000;
}

.menu-item.active {
  color: #000;
}

/* Dropdown Styling */
.dropdown-list {
  background-color: #fff;
  width: 100%;
  padding-left: 25px;
  border-left: 2px solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 12px 0;
  font-size: 14px;
  color: #7b8493;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #000;
}

.dropdown-item i {
  font-size: 18px;
  transition: color 0.3s ease;
}


.dropdown-item:hover i {
  color: #000;
}